<section id="assortment" class="section assortment-section">
    <div class="container">
        <h2 class="subheading">Наші сумки</h2>
        <ul class="assortment-group">
            <li class="assortment-item">

                <picture>
                    <source media="(min-width: 1440px)" 
                    srcset="/img/assortment/desktop-ecobag-classic.jpg 1x, /img/assortment/desktop-ecobag-classic@2x.jpg 2x" >
                    <source media="(min-width: 768px)" 
                    srcset="/img/assortment/tablet-ecobag-classic.jpg 1x, 
                    /img/assortment/tablet-ecobag-classic@2x.jpg 2x">
                    <source media="(max-width: 767px)" 
                    srcset="/img/assortment/mobile-ecobag-classic.jpg 1x, /img/assortment/mobile-ecobag-classic@2x.jpg 2x">
                  
                  <img class="assortment-image" src="/img/assortment/mobile-ecobag-classic.jpg" alt="EcoBag Classic">
                  </picture>

                  <h4 class="bag-title">EcoBag Classic</h4>
                  <p class="small-text-assortment">Елегантна та містка сумка для щоденного використання.</p>
                  <div class="bag-price">$25</div>
                  <button class="assortment-button">Купити</button>
            </li>

            <li class="assortment-item">

                <picture>
                    <source media="(min-width: 1440px)" 
                    srcset="/img/assortment/desktop-ecotote-shopper.jpg 1x, /img/assortment/desktop-ecotote-shopper@2x.jpg 2x" >
                    <source media="(min-width: 768px)" 
                    srcset="/img/assortment/tablet-ecotote-shopper.jpg 1x, 
                    /img/assortment/tablet-ecotote-shopper@2x.jpg 2x">
                    <source media="(max-width: 767px)" 
                    srcset="/img/assortment/mobile-ecotote-shopper.jpg 1x, /img/assortment/mobile-ecotote-shopper@2x.jpg 2x">
                  
                  <img class="assortment-image" src="/img/assortment/mobile-ecotote-shopper.jpg" alt="EcoTote Shopper">
                  </picture>

                  <h4 class="bag-title">EcoTote Shopper</h4>
                  <p class="small-text-assortment">Ідеальна для покупок, з <br>посиленими ручками.</p>
                  <div class="bag-price">$30</div>
                  <button class="assortment-button">Купити</button>
            </li>

            <li class="assortment-item">

                <picture>
                    <source media="(min-width: 1440px)" 
                    srcset="/img/assortment/desktop-ecobackpack-urban.jpg 1x, /img/assortment/desktop-ecobackpack-urban@2x.jpg 2x" >
                    <source media="(min-width: 768px)" 
                    srcset="/img/assortment/tablet-ecobackpack-urban.jpg 1x, 
                    /img/assortment/tablet-ecobackpack-urban@2x.jpg 2x">
                    <source media="(max-width: 767px)" 
                    srcset="/img/assortment/mobile-ecobackpack-urban.jpg 1x, /img/assortment/mobile-ecobackpack-urban@2x.jpg 2x">
                  
                  <img class="assortment-image" src="/img/assortment/mobile-ecobackpack-urban.jpg" alt="EcoBackpack Urban">
                  </picture>

                  <h4 class="bag-title">EcoBackpack Urban</h4>
                  <p class="small-text-assortment">Зручний рюкзак для міста з відділенням для ноутбука.</p>
                  <div class="bag-price">$45</div>
                  <button class="assortment-button">Купити</button>
            </li>

            <li class="assortment-item">

                <picture>
                    <source media="(min-width: 1440px)" 
                    srcset="/img/assortment/desktop-ecocrossbody-mini.jpg 1x, /img/assortment/desktop-ecocrossbody-mini@2x.jpg 2x" >
                    <source media="(min-width: 768px)" 
                    srcset="/img/assortment/tablet-ecocrossbody-mini.jpg 1x, 
                    /img/assortment/tablet-ecocrossbody-mini@2x.jpg 2x">
                    <source media="(max-width: 767px)" 
                    srcset="/img/assortment/mobile-ecocrossbody-mini.jpg 1x, /img/assortment/mobile-ecocrossbody-mini@2x.jpg 2x">
                  
                  <img class="assortment-image" src="/img/assortment/mobile-ecocrossbody-mini.jpg" alt="EcoCrossbody Mini">
                  </picture>

                  <h4 class="bag-title">EcoCrossbody Mini</h4>
                  <p class="small-text-assortment">Компактна сумка через плече для найнеобхіднішого.</p>
                  <div class="bag-price">$20</div>
                  <button class="assortment-button">Купити</button>
            </li>

            <li class="assortment-item">

                <picture>
                    <source media="(min-width: 1440px)" 
                    srcset="/img/assortment/desktop-ecolunch-bag.jpg 1x, /img/assortment/desktop-ecolunch-bag@2x.jpg 2x" >
                    <source media="(min-width: 768px)" 
                    srcset="/img/assortment/tablet-ecolunch-bag.jpg 1x, 
                    /img/assortment/tablet-ecolunch-bag@2x.jpg 2x">
                    <source media="(max-width: 767px)" 
                    srcset="/img/assortment/mobile-ecolunch-bag.jpg 1x, /img/assortment/mobile-ecolunch-bag@2x.jpg 2x">
                  
                  <img class="assortment-image" src="/img/assortment/mobile-ecolunch-bag.jpg" alt="EcoBag Classic">
                  </picture>

                  <h4 class="bag-title">EcoBag Classic</h4>
                  <p class="small-text-assortment">Елегантна та містка сумка для щоденного використання.</p>
                  <div class="bag-price">$25</div>
                  <button class="assortment-button">Купити</button>
            </li>

            <li class="assortment-item">

                <picture>
                    <source media="(min-width: 1440px)" 
                    srcset="/img/assortment/desktop-ecobeach-tote.jpg 1x, /img/assortment/desktop-ecobeach-tote@2x.jpg 2x" >
                    <source media="(min-width: 768px)" 
                    srcset="/img/assortment/tablet-ecobeach-tote.jpg 1x, 
                    /img/assortment/tablet-ecobeach-tote@2x.jpg 2x">
                    <source media="(max-width: 767px)" 
                    srcset="/img/assortment/mobile-ecobeach-tote.jpg 1x, /img/assortment/mobile-ecobeach-tote@2x.jpg 2x">
                  
                  <img class="assortment-image" src="/img/assortment/mobile-ecobeach-tote.jpg" alt="EcoBeach Tote">
                  </picture>

                  <h4 class="bag-title">EcoBeach Tote</h4>
                  <p class="small-text-assortment">Велика сумка для пляжних речей з водонепроникною підкладкою.</p>
                  <div class="bag-price">$35</div>
                  <button class="assortment-button">Купити</button>
            </li>

            <li class="assortment-item">

                <picture>
                    <source media="(min-width: 1440px)" 
                    srcset="/img/assortment/desktop-ecotravel-duffle.jpg 1x, /img/assortment/desktop-ecotravel-duffle@2x.jpg 2x" >
                    <source media="(min-width: 768px)" 
                    srcset="/img/assortment/tablet-ecotravel-duffle.jpg 1x, 
                    /img/assortment/tablet-ecotravel-duffle@2x.jpg 2x">
                    <source media="(max-width: 767px)" 
                    srcset="/img/assortment/mobile-ecotravel-duffle.jpg 1x, /img/assortment/mobile-ecotravel-duffle@2x.jpg 2x">
                  
                  <img class="assortment-image" src="/img/assortment/mobile-ecotravel-duffle.jpg" alt="EcoTravel Duffle">
                  </picture>

                  <h4 class="bag-title">EcoTravel Duffle</h4>
                  <p class="small-text-assortment">Містка дорожня сумка з додатковими кишенями.</p>
                  <div class="bag-price">$60</div>
                  <button class="assortment-button">Купити</button>
            </li>

            <li class="assortment-item">

                <picture>
                    <source media="(min-width: 1440px)" 
                    srcset="/img/assortment/desktop-ecokids-bag.jpg 1x, /img/assortment/desktop-ecokids-bag@2x.jpg 2x" >
                    <source media="(min-width: 768px)" 
                    srcset="/img/assortment/tablet-ecokids-bag.jpg 1x, 
                    /img/assortment/tablet-ecokids-bag@2x.jpg 2x">
                    <source media="(max-width: 767px)" 
                    srcset="/img/assortment/mobile-ecokids-bag.jpg 1x, /img/assortment/mobile-ecokids-bag@2x.jpg 2x">
                  
                  <img class="assortment-image" src="/img/assortment/mobile-ecokids-bag.jpg" alt="EcoKids Bag">
                  </picture>

                  <h4 class="bag-title">EcoKids Bag</h4>
                  <p class="small-text-assortment">Яскрава та зручна сумка для дітей.</p>
                  <div class="bag-price">$22</div>
                  <button class="assortment-button">Купити</button>
            </li>
        </ul>
    </div>
</section>