<section id="feedbacks" class="section">
  <div class="container">
    <h2 class="feedbacks-header">Що говорять наші клієнти</h2>
    <ul class="reviews-list">
      <li class="review-item">
        <div class="feedback-stars">
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
        </div>
        <p class="review-text">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="review-author">Анна</p>
      </li>
      <li class="review-item">
        <div class="feedback-stars">
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
        </div>
        <p class="review-text">
          Відмінна якість матеріалів, приємно здивований.
        </p>
        <p class="review-author">Ігор</p>
      </li>
      <li class="review-item">
        <div class="feedback-stars">
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
        </div>
        <p class="review-text">Сумка повністю відповідає опису, рекомендую!</p>
        <p class="review-author">Олена</p>
      </li>
      <li class="review-item">
        <div class="feedback-stars">
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star-fillled"></use>
          </svg>
          <svg class="" width="24" height="24">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </div>
        <p class="review-text">Швидка доставка та гарне обслуговування.</p>
        <p class="review-author">Сергій</p>
      </li>
    </ul>
  </div>
</section>
