/* #region --mobile-- */
.container-about{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/about/feature-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 348px; 
    padding: 64px 16px;
}
.container-about > .subheading3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;

    margin-bottom: 13px;
}
.container-about > .subheading{
    margin-bottom: 20px;
    font-family: "Comfortaa", sans-serif;
}
.container-about > .small-text{
    font-family: "Fira Sans", sans-serif;
}

@media (min-resolution: x2) and (min-width: 320px) {
    .container-about{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/about/feature-mobile@2x.jpg);
    }
}
/* #endregion */

/* #region --tablet-- */
@media (min-width: 768px){
    .container-about{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/about/feature-tablet.jpg);

        height: 325px;
        padding: 80px 97.5px;
    }

    .container-about > .subheading3{
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;

        margin-bottom: 16px;
    }

    .container-about > .subheading{
        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 0.01em;

        margin-bottom: 24px;
    }

    .container-about > .small-text{
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
    }
}

@media (min-resolution: x2) and (min-width: 768px){
    .container-about{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/about/feature-tablet@2x.jpg);
    }

}
/* #endregion */

/* #region --desk-- */
@media (min-width: 1440px){
    .container-about{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/about/feature-desk.jpg);

        padding: 112px 336px 94px 336px;
        height: 462px;
    }

    .container-about > .subheading3{
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
    }

    .container-about > .subheading{
        font-weight: 700;
        font-size: 56px;
        line-height: 120%;
        letter-spacing: 0.01em;

        max-width: 629px;
    }

    .container-about > .small-text{
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;

        max-width: 573px;
    }
}

@media (min-resolution: x2) and (min-width: 1440px){
    .container-about{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/about/feature-desk@2x.jpg);
    }
}
/* #endregion */