.assortment-group {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 40px;
}

.assortment-item {
  display: flex;        
  flex-direction: column; 
  align-items: center; 
  width: 100%;
  max-width: 288px;
  text-align: center;  
}

.assortment-section  .subheading {
  margin-bottom: 32px;
  text-align: center;
}

.assortment-image {
  border-radius: 32px;
  margin-bottom: 16px;
}

.bag-title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
}

.small-text-assortment {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
  margin-bottom: 8px;
}

.bag-price {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: #030a06;
  margin-bottom: 16px;
}

.assortment-button {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  display: flex;
  justify-content: center;
  background-color: #ebf8ed;;
  border: 1px solid #030a06;
  border-radius: 6px;
  padding-block: 8px;
  padding-inline: 20px;
  width: 100%;
  height: 40px;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .assortment-group {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    align-items: stretch; 
  }
  .assortment-item {
    width: calc((100% - 24px) / 2); 
    max-width: 100%;
    align-items: stretch;
  }

  .assortment-button {
    margin-top: auto;
  }

}

@media only screen and (min-width: 1440px) {
  .assortment-group {
    row-gap: 64px;
    align-items: stretch; 
  }

  .assortment-item {
    width: calc((100% - 72px) / 4); 
  }

  .assortment-button:hover,
  .assortment-button:focus {
    color: #030a06;
    border-color: #030a06;
    opacity: 0.5;
  }

  .assortment-button:active {
    color: #113916;
    border-color: #113916;
    transition: none;  
  }
}
