
.feedbacks-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 32px;
}
 .feedback-stars {
    display: flex;
    gap: 4px;
    padding-bottom: 12px;
    fill: #3AC04C;
 }

 .review-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    padding-bottom: 12px;
 }

.review-author {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    padding-bottom: 40px;
}
 ul li:last-child .review-author {
   padding-bottom: 0; 
 } 

 /* feedbacks tablet */

 @media screen and (min-width: 768px) {
.feedback-stars {
    padding-bottom: 24px;
}
.review-text {
    padding-bottom: 24px;
}
.reviews-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.review-item {
    width: 340px;
}
.review-author {
    padding-bottom: 0;
}
 }

 /* feedbacks desktop */

  @media screen and (min-width: 1440px) {
.feedbacks-header {
    font-size: 48px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.review-item {
    width: 310px;
}
      }